* {
	box-sizing: border-box;
}

body {
	background-image: url('./background.jpg');
	background-size: cover;
	display: flex;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	height: 100vh;
}

button {
	border-radius: 20px;
	border: 1px solid rgb(43, 135, 255);
	background-color: rgba(48, 94, 223, 0.603);
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	margin-left:15px;
	margin-top: 10px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

button:active {
	transform: scale(0.95);
}

button:focus {
	outline: none;
}

button.ghost {
	background-color: transparent;
	border-color : #358a91;
}

.Form {
	background-color: transparent;
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 20px 50px;
	height: 100%;
    text-align: center;
}

input[type="password"] {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 15px;
	margin-top: 0px;
	margin-bottom: 25px;
	width: 100%;
	font-size:16px;
}

input[type="text"] {
	font-size:16px;
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 15px;
	margin-bottom:25px;
	width: 100%;
}

.error {
	color: red;
}