.header {
    height: 180px;
    background-color: aliceblue;
    border-radius: 2%;
    background: url(./back.jpg); 
    align-items: center;
}

.header h1{
    padding-top: 60px;
    text-align: center;
    font-size: 80px;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 2px;
    font-style: italic; */
}

.filter {
    width:60%;
    background-color:cornflowerblue;
    border-radius: 2px;
}
.ratings {
    width:30%;
}


.startup-list {
    height:fit-content;
    background-color:whitesmoke;
    border-radius: 4px;
    width: 100%;
    padding-top: 1%;
    padding-bottom: 3%;
    padding-left: 1%;

}
.pic{
    height: 150px;
    -moz-border-radius:50px;
    -webkit-border-radius: 50px;
    width: 150px;
}

.brr {
    height: 30px;
    background-color: transparent;
}

.filter-button {
    background:transparent;
    color:black;
    border:0px;
    padding:0px;
    font-size:20px;
}

.filter-button:active {
    transform:none;
    background:transparent;
}

.filter-button:hover {
    background:none;
}

#search_input.searchBox {
    padding: 8px 15px;
    margin:0px;
}

.reset-btn {
    padding:5px 10px;
    margin-left:20px;
    border-radius:5px;
    background-color:grey;
}