
.llogo {
  width: 600px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;

}
.banner2 {
  font-size: 70px;
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color:white;
  letter-spacing: 5px;
  font-weight: 100;
}
.Button{
color: #333;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 border: 1px solid blue;
 border-bottom: 5px solid blue;
 background-color: #fff;
 font-size: 10px;
 margin: 50px;
 /* padding: 10px 70px 10px ; */
 display: inline-block;
 -webkit-touch-callout: none;
 -webkit-user-select: none;
 -khtml-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
 user-select: none;
 top: 0px;
 

 }


 .Button:hover{
 cursor: hand; 
 cursor: pointer;
 }

 .subtext {
  color:black;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   font-style: italic;
   padding-left: 4%;
   padding-right: 1%;
     font-weight: bold;
     font-size: 15px;
 }
 
 .subtext2 {
  color: black;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-style: italic;
  font-size: 15px;
  padding-left: 4%;
  text-align: center;
  font-weight: bold;
  padding-right: 1%;
}

 .Button:active{
 border-bottom: 10px solid #999;
 top: 10px;
 }


.VCtext {
  color:black;

  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size:40px;
  letter-spacing: 2px;
  font-weight: 100;
  text-align: center;
  font-style: italic;
  

  
}
.Su {
  /* background-color: rgb(66, 130, 195); */
background: url(./2.png);
  border-radius: 2%;
}

.wrapper {
  display: grid;
  grid-template-columns: 45% 45%;
  column-gap: 10%;
  padding-bottom: 250px;
  padding-top: 25px;
  border-radius: 5px;

}
.B {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  
}
