/* Add a black background color to the top navigation */
.topnav {
  background-image: linear-gradient(to right, rgb(11, 137, 240), rgba(159, 207, 241, 0.938));
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a,p {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 17px;
  letter-spacing: 2px;
}
/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.logo {
  width : 170px;
  height: 40px;
}
