.profile {
    padding-top: 4%;
   max-width: 100%;
    text-align: center;
    align-items: center;
    padding-right: 5%;
    padding-left: 5%;
    padding-bottom: 4%;
    background: url(./pic/background.jpg); 
    
border-radius: 5px;
opacity: 0.9;
}


.name{
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: 70px;
   letter-spacing: 10px;
   text-align: center;
   color:white;
}

.avatar {
    height: 200px;
    -moz-border-radius:100px;
    -webkit-border-radius: 100px;
    width: 200px;
}

.menu {
    text-align:center;
    letter-spacing: 4px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-style:inset;  
    
}

.header-3 {
    font-size: 38px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 5px;
    
}

.bc {
    background-color: transparent;
    border-color: transparent;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 5px;
    color:black;
}

.header-7 {
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
    font-style: italic;
   
}

.industry {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 5px;
    border-style:inset;
    width: 25%;
    font-size: 20px;
    text-align:center;
}
.body{
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.body-1 {
    font-size: 30px;
    text-align:center;
}

.header-5 {
  background-color:cornflowerblue;
}
.test-5 {
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 2px;

}
.wrap{
    border-style: groove;
    border-color: grey;
    text-align: center;
}

.content{
  
    width:90%;
    height:90%;
    padding-bottom: 2%;
  
}

.bc {
    width:100%;
    margin:0px;
    padding: 17px 50px;
    border-radius:0px;
}

.bc:hover {
    background-image:linear-gradient(rgb(16, 186, 243),rgb(45, 45, 138));
    color:white;
}
